@use 'variaveis';



.TvSection, .DevicesSection,
.ProfileSection, .MobileSection {
    padding: 6.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: variaveis.$CorDeFundo;

    &__container--ProfileImage {
        margin-left: 85px;
    }

    .textMargin {
        margin-top: 1rem;
    }
    img {
        max-width: 508px;
        max-height: 381px;
    }
    
    &__container {
        width: 25%;
        margin-top: 265px;
        overflow: hidden;
        position: absolute;
        margin-left: 254px;
        padding: 8px 12px;
        transform: translateX(-50%);
        background-color: variaveis.$corDeFundoBotaoPrimario;
        display: flex;
        align-items:center;
        min-width: 15rem;
        border: 2px solid rgba(128,128,128,0.7);
        box-shadow: 0 0 2em 0 variaveis.$corDeFundoBotaoPrimario;
        border-radius: 0.75rem;
        z-index: 1;

        img {
            height: 80px;
        }

        &__text {
            margin-left: 10px;
            color: white;
        }

        #icon{
        width: 30px;
        height: 30px;
        margin-left: 10px;
        }
    }


}

